table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 33.33333%;
}
button{
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

input
{
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}
label{
    font-size: 0.9em;
    font-family: sans-serif;
}
thead{
    background-color: #009879;
    color: white;
    text-align: center;
}
tbody{
    background: white;
    text-align: center;

}

